fastapi
uvicorn
python-socketio
python-multipart
google-genai
google-generativeai
opencv-python
pyaudio
pillow
mss
playwright
python-kasa
zeroconf>=0.131.0
aiohttp>=3.9.0
python-dotenv
mediapipe
build123d
pyautogui
pyperclip
numpy
psutil
send2trash
comtypes
pycaw
win10toast
duckduckgo-search
youtube-transcript-api
twilio
flask
gevent
whisper # for llm_convo
openai
